import React from 'react';
import './{{pascalCase name}}.css';

const {{pascalCase name}} = () => {
    return (
        <div className="{{camelCase name}}">
            <h1>{{pascalCase name}} Component</h1>
        </div>
    );
};

export default {{pascalCase name}};